@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}

.robotoLight {
    font-family: roboto-light;
    font-style: normal;
    font-weight: 200;
}

.roboto300 {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
}

.roboto400 {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
}

.roboto500 {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
}

.roboto700 {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
}

.roboto900 {
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
}
