@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

.roboto350 {
    font-family: roboto;
    font-style: normal;
    font-weight: 350;
}

.roboto400 {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
}

.roboto500 {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
}

.roboto700 {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
}

.roboto900 {
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
}
